

.footer{}
.f{
    background-color: $c-pink-2;    
    color: #2b2929;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    background-image: url('../img/logo-footer.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    
    
    a{
        text-decoration: none;
        color: inherit;
    }
    &__container{
        height: auto !important;
    }
    &__title{}
    &__logo{
        text-align: center;
    }
    &__nav{
        margin-left: auto;
        margin-right: auto;
        max-width: 820px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.15em;
        
        margin-top: 60px;
        ul{
            list-style: none;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            text-transform: uppercase;
            justify-content: space-between;
        }
        li{}
        a{
            text-decoration: none;
            
        }
    }
    &__contacts{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.15em;
        margin-top: 60px;
        text-transform: uppercase;
        a{
            margin: 5px;
        }
    }
    &__social{
        text-align: center;
        margin-top: 30px;
    }
    &__address{
        text-align: center;
        margin-top: 40px;
        font-size: 1.12em;
    }
    &__p2{
        margin-top: 1em;
    }
    &__p3{
        margin-top: 2em;
    }
}