doctype html
include parts/_mixins.pug
html(lang='RU-ru')
    +head('Главная')
    
    body
        
        include parts/_header.pug
        include parts/_footer.pug
        
        script(src='assets/libs/jquery/jquery-3.3.1.min.js')
        script(src='assets/libs/underscore/underscore-min.js')
        //script(src='assets/libs/mobile-detect/mobile-detect.min.js')
        //script(src='assets/js/responsive.js')
        //script(src='assets/js/main.js')
        script.
            jQuery(function($) {});