include parts/_mixins.pug
doctype html
html(lang='RU-ru')
    head
        meta(charset='UTF-8')
        title Document
        link(rel='stylesheet', href='assets/libs/hamburger/hamburgers.css')
        link(rel='stylesheet', href='assets/fonts/Circe/font.css')
        link(rel='stylesheet', href='assets/css/style.css')
    body
    
        include parts/_header.pug
        include parts/_footer.pug
        
        script(src='assets/libs/jquery/jquery-3.2.1.min.js')
        script(src='assets/libs/mobile-detect/mobile-detect.min.js')
        script(src='assets/js/responsive.js')
        script(src='assets/js/main.js')
        script.
            jQuery(function($) {});